@import '~antd/dist/antd.css';

body {
  cursor: url('./assets/cursor.svg'), auto;
  background-color: #e1e1e1;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: auto;
  width: 100vw;
}

* {
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: url("./assets/cursorbig.svg"), pointer !important;
  &:hover {
    outline: none !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mui-label {
  margin-top: 12px;
}

.top-m {
  .MuiFormControl-root {
    margin-top: 24px;
  }

  .MuiFormLabel-root {
    margin-bottom: 0px;
  }
}
a {
  cursor: url("./assets/cursorbig.svg"), pointer;
}

.wordWrap {
  word-wrap: break-word;
}
