.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333333;
  width: 100vw;
  height: 6vh;
  padding: 0px 1vw;

  .editing {
    display: flex;
    align-items: center;
  }

  h3 {
    color: white;
    font-size: 20px;
    margin: 0 20px;
  }

  .centered {
    cursor: url('../../assets/cursorbig.svg'), pointer;
    position: absolute;
    width: calc(100% - 700px);
    left: 500px;
    text-align: center;
    background-color: #333333;
    border: none;
    color: white;
    font-size: 20px;
    &:focus {
      outline: none
    }

  }

  .ant-switch {
    background-color: white;
    cursor: url('../../assets/cursorbig.svg'), pointer;
  }

  .ant-switch-checked {
    background-color: white;
  }

  .ant-switch-handle::before {
    background-color: #333333 !important;
  }

  .mark {
    cursor: url('../../assets/cursorbig.svg'), pointer;
    margin: 0 10px 4px;
    z-index: 5;
    transition: 0.2s;

    &.disabled {
      cursor: url('../../assets/cursor.svg'), pointer;
      opacity: .5;
    }
  }
}

@media only screen and (max-width: 900px) {
  .top-bar {
    span {
      display: none;
    }
    .centered {
      display: none;
    }
    
    .ant-switch {
      margin-left: 20px;
    }
  }
}