.settings-panel {
    width: 100%;
    .MuiBox-root-34 {
        // background-color: white;
    }
    .MuiButton-contained {
        margin-top: 20px;
    }

    .MuiSelect-selectMenu {
        width: 200px !important;
    }
}