.side-bar {
  background-color: white;
  height: 86vh;
  width: 30vw;

  .components-menu {
    display: flex;
    flex-wrap: wrap;

    .component-btn {
      background-color: white;
      padding: 2vh 1vw;
      margin: 1vw;
      border: 1px dashed #000;
      width: 100px;
      height: 100px;
    }
  }
}